# Dev environment
pip
autopep8
Flask
requests
beautifulsoup4
selenium
streamlit
streamlit-kanban-board-goviceversa
app-store-scraper
google-play-scraper
gspread
google-auth
textblob
wordcloud
scikit-learn
nltk
google-generativeai
